@{
    ViewData["Title"] = "Aggrigate";
}

<h2 class="display-5 text-center mb-5">Aggregate Function</h2>
<div class="d-flex justify-content-between">
    <div class="card mb-2">
        <div class="card-header">
            <label>No of Skill</label>
        </div>
        <div class="card-body">
            <h2>@ViewBag.totalMarks</h2>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header">
            <label>Total Marks</label>
        </div>
        <div class="card-body">
            <h2>@ViewBag.total</h2>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header">
            <label>Maximum Marks</label>
        </div>
        <div class="card-body">
            <h2>@ViewBag.max</h2>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header">
            <label>Minimum Marks</label>
        </div>
        <div class="card-body">
            <h2>@ViewBag.min</h2>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header">
            <label>Average Marks</label>
        </div>
        <div class="card-body">
            <h2>@ViewBag.avg</h2>
        </div>
    </div>
</div>

